@import url(https://db.onlinewebfonts.com/c/a5c0262230ab76f7f7eef2977b44d554?family=Halifax+W03+Bold);

.temp {
    position: absolute;
    background-color: #013551;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
    display: flex;
    justify-content: center;
    font-family: "Halifax W03 Bold";
    align-items: left;
    color: #fff;
    text-align: left;
    z-index: 1000;
    border-radius: 10px;
    transition: box-shadow 0.5s ease;
    box-shadow: 60px -16px #01202F;
}
.temp:hover{
    box-shadow: 10px 10px #01202F;
    cursor: pointer;
}

.info h2 {
    color: #327B9E;
    padding-bottom: -40px;
}

.info p {
    font-size: 20px;
    margin-bottom: -20px;
    color: #01202F;
}

/* .box {
    position: absolute;
    background-color: #000;
    width: 300px;
    height: 100px;
} */